 a:hover {
   cursor: pointer;
 }

 button:focus, input:focus {
   outline: none;
 }

 @media only screen and (max-width: 1200px) {
   html, body {
     margin: 0px;
     padding: 0px;
     width: 100%;
     overflow: hidden;
     overflow-y: scroll;
   }
 }

 .roboto {
   font-family: 'Roboto', sans-serif;
 }

 .Pacifico {
   font-family: 'Pacifico', cursive;
 }

 .Lora {
   font-family: 'Lora', serif;
 }

 .Merriweather {
   font-family: 'Merriweather', serif;
 }

 .OpenSans {
   font-family: 'Open Sans', sans-serif;
 }

 .Poppins {
   font-family: 'Poppins', sans-serif;
 }

 @media(max-width:767px) {
   .ul2 li a {
     display: block;
     color: #ffffff;
     margin-top: 12px;
     text-decoration: none;
     font-size: 12px;
     margin-right: 35px;
     font-weight: bold;
     font-style: italic;
     /* border: 1px solid white;*/
     padding: 3px 2px;
     width: fit-content;
   }
   .ul2 li a:hover {
     color: #7cc000;
   }
   .background-text h3 {
     font-weight: 300;
     font-size: 40px;
   }
   .background-text span {
     font-weight: 700;
     font-size: 34px;
   }
   .background-text p {
     font-weight: 600;
     font-size: 8px;
     color: rgb(83, 83, 83);
     letter-spacing: 1px;
     margin-bottom: 16px;
   }
   .background-text .button {
     background-color: white;
     border-radius: 150px;
     border: none;
     font-weight: 700;
     font-size: 12px;
     padding: 8px 25px;
     height: 30px;
     position: relative;
     width: fit-content;
     cursor: pointer;
   }
   .background-text .button:hover {
     background: -webkit-linear-gradient(top, rgba(165, 211, 159, 1) 0%, rgba(91, 197, 208, 1) 100%);
     color: white;
     transition: 0.4s ease all;
   }
   .background-text .button::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: -webkit-linear-gradient(top, rgba(165, 211, 159, 1) 0%, rgba(91, 197, 208, 1) 100%);
     width: 103%;
     height: 119%;
     border-radius: 50px;
     z-index: -1;
     cursor: pointer;
   }
   .background-text h6 {
     margin: 0px;
     font-size: 10px;
     font-weight: 600;
     margin-top: 3px;
   }
   .tagline h4 {
     font-weight: bold;
     color: #696969;
     font-size: 13px;
     text-align: center;
   }
   .whychoose h4 {
     font-weight: 100;
     font-size: 22px;
     color: rgb(85, 84, 84);
   }
   .whychoose span {
     font-weight: 900;
     font-size: 22px;
     color: rgb(85, 84, 84);
   }
   .mid {
     color: black;
     font-size: 21px;
     font-weight: 500;
     margin-top: 16px;
     text-align: center;
   }
   .mobileimage {
     width: 190px;
     height: 315px;
   }
   .mobileapp h4 {
     font-size: 20px;
     color: #707070;
     margin: 0px;
     margin-top: 25px;
   }
   .mobileapp h3 {
     font-size: 35px;
     color: #707070;
     margin: 0px;
   }
   .mobileapp p {
     font-size: 16px;
     color: #707070;
     font-weight: 400;
     margin: 0px;
     line-height: 25px;
   }
   .googleplay {
     width: 140px;
     height: 50px;
   }
   .ul2 {
     float: left;
     margin: 0px;
     overflow: hidden;
     margin-bottom: 0px;
     background-color: #54562a;
     width: 100%;
   }
   .navbar-collapse.collapse {
     padding-left: 15px;
     padding-bottom: 5px;
   }
 }

 @media(min-width:768px) {
   .ul2 li a {
     margin-right: 35px;
   }
   .background-text h3 {
     font-weight: 300;
     font-size: 50px;
   }
   .background-text span {
     font-weight: 700;
     font-size: 50px;
   }
   .background-text p {
     font-weight: 600;
     font-size: 10px;
     color: rgb(83, 83, 83);
     letter-spacing: 2px;
     margin-bottom: 16px;
   }
   .background-text .button {
     background-color: white;
     border-radius: 150px;
     border: none;
     font-weight: 700;
     font-size: 12px;
     padding: 8px 25px;
     height: 30px;
     position: relative;
     width: fit-content;
     cursor: pointer;
   }
   .background-text .button:hover {
     background: -webkit-linear-gradient(top, rgba(165, 211, 159, 1) 0%, rgba(91, 197, 208, 1) 100%);
     color: white;
     transition: 0.4s ease all;
   }
   .background-text .button::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     /* background: -webkit-linear-gradient(top, rgba(208, 226, 111, 0.99) 0%, rgba(121, 185, 178, 1) 50%, rgba(121, 185, 178, 1) 100%); */
     background: -webkit-linear-gradient(top, rgba(165, 211, 159, 1) 0%, rgba(91, 197, 208, 1) 100%);
     width: 103%;
     height: 119%;
     border-radius: 50px;
     z-index: -1;
     cursor: pointer;
   }
   .background-text h6 {
     margin: 0px;
     font-size: 11px;
     font-weight: 600;
     margin-top: 3px;
   }
   .tagline h4 {
     font-weight: bold;
     color: #696969;
     font-size: 16px;
     text-align: center;
   }
   .whychoose h4 {
     font-weight: 100;
     font-size: 30px;
     color: rgb(85, 84, 84);
   }
   .whychoose span {
     font-weight: 900;
     font-size: 30px;
     color: rgb(85, 84, 84);
   }
   .mid {
     color: black;
     font-size: 25px;
     font-weight: 500;
     margin-top: 16px;
     text-align: center;
   }
   .ul2 {
     float: right;
     padding: 0px;
     margin: 0px;
     overflow: hidden;
     margin-bottom: 0px;
     background-color: #54562a;
   }
   .navbar-collapse.collapse {
     padding-left: 0;
   }
   .tagline {
     margin-top: 15px;
     display: flex;
     margin-left: 95px;
   }
 }

 @media(max-width:992px) {
   .triangle-down {
     width: 0;
     height: 0;
     border-left: 155px solid transparent;
     border-right: 155px solid transparent;
     border-top: 155px solid #d30808;
     position: absolute;
     margin-top: 3px;
     z-index: 3;
     transition: all 0.5s ease-in-out;
   }
   .logo {
     position: absolute;
     left: 109px;
     top: 15px;
     width: 127px;
     margin-top: 3px;
     z-index: 3;
     transition: all 0.5s ease-in-out;
   }
   .search {
     margin-top: 30px;
     padding-left: 100px;
     display: flex;
   }
   #ip1 {
     border-radius: 18px;
     border: 1px solid #dfe2e2;
     background: rgb(255, 255, 255);
     padding: 20px;
     width: 410px;
     height: 15px;
     box-shadow: 0px 13px 15px -17px rgb(177, 177, 177);
   }
   #ip1:focus {
     border: 1px solid #7cc000;
     box-shadow: 0 0 10px rgba(177, 177, 177, 0.56);
   }
   .search button {
     background-color: #7cc000;
     border-radius: 150px;
     font-weight: 300;
     font-size: 13px;
     height: 42px;
     width: 140px;
     border: 0px;
     color: white;
   }
   .search button:hover {
     background-color: #96e209;
     color: black;
     transition: 0.4s ease all;
   }
   .Customdots ul {
     margin-left: 200px;
   }
   .images img {
     width: 150px;
   }
   .aboutus h4 {
     margin-top: 55px;
     font-weight: bold;
     color: #525252;
     font-size: 20px;
   }
   .Second_dishes {
     margin-top: 20px;
     padding: 0px;
   }
   .icons {
     padding-top: 30px;
     padding-left: 8px;
   }
 }

 @media(min-width:992px) {
   .triangle-down {
     width: 0;
     height: 0;
     border-left: 155px solid transparent;
     border-right: 155px solid transparent;
     border-top: 155px solid #d30808;
     position: absolute;
     margin-top: -20px;
     z-index: 3;
     transition: all 0.5s ease-in-out;
   }
   .logo {
     position: absolute;
     left: 109px;
     top: 15px;
     width: 127px;
     margin-top: -20px;
     z-index: 3;
     transition: all 0.5s ease-in-out;
   }
   .icons {
     padding-top: 180px;
     padding-left: 55px;
   }
   .search {
     margin-top: 30px;
     padding-left: 35px;
     display: flex;
   }
   #ip1 {
     border-radius: 18px;
     border: 1px solid #dfe2e2;
     background: rgb(255, 255, 255);
     padding: 20px;
     width: 318px;
     height: 15px;
     box-shadow: 0px 13px 15px -17px rgb(177, 177, 177);
   }
   #ip1:focus {
     border: 1px solid #7cc000;
     box-shadow: 0 0 10px rgba(177, 177, 177, 0.56);
   }
   .search button {
     background-color: #7cc000;
     border-radius: 150px;
     font-weight: 300;
     font-size: 13px;
     height: 42px;
     width: 140px;
     border: 0px;
     color: white;
   }
   .search button:hover {
     background-color: #96e209;
     color: black;
     transition: 0.4s ease all;
   }
   .Customdots ul {
     margin-left: 323px;
   }
   .images img {
     width: 200px;
   }
   .aboutus h4 {
     margin-top: 55px;
     font-weight: bold;
     color: #525252;
     font-size: 23px;
   }
   .Second_dishes {
     margin-top: 65px;
     padding: 0px;
   }
 }
 
 @media(max-width:414px){
.img2{
  margin-left: -103px;
}
.btn2{
  margin-top: 17px;
}
#ip1 {
  border-radius: 18px;
  border: 1px solid #dfe2e2;
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 100%;
  height: 15px;
  box-shadow: 0px 13px 15px -17px rgb(177, 177, 177);
}
.search {
  margin-top: 30px;
  padding-left: 35px;
  display: inline-flex;
}


 }
 @media(max-width:411px) {
  .img2 {
    margin-left: -100px;
  }
  .color {
    margin-left: 17px;
}
  .btn2{
    margin-top: 17px;
  }
  .front {
    background-color: rgb(255, 255, 255);
    height: 300px;
    z-index: 2;
    position: relative;
    margin-top: -412px;
    border-radius: 10px;
    box-shadow: 17px 14px 19px -8px #5f5f5f40;
  }
  .connectus {
    z-index: 2;
    position: relative;
    text-align: center;
    margin-top: -96px;
  }
   .search {
     margin-top: 30px;
     padding-left: 35px;
     display: contents;
   }
   #ip1 {
    margin-top: 20px;
     border-radius: 18px;
     border: 1px solid #dfe2e2;
     background: rgb(255, 255, 255);
     padding: 20px;
     width: 100%;
     height: 15px;
     box-shadow: 0px 13px 15px -17px rgb(177, 177, 177);
   }
   #ip1:focus {
     border: 1px solid #7cc000;
     box-shadow: 0 0 10px rgba(177, 177, 177, 0.56);
   }
   .search button {
     background-color: #7cc000;
     border-radius: 150px;
     font-weight: 300;
     font-size: 12px;
     height: 42px;
     width: 100px;
     border: 0px;
     color: white;
     margin-top: 15px;
     float: right;
   }
   .search button:hover {
     background-color: #96e209;
     color: black;
     transition: 0.4s ease all;
   }
 }

 @media(max-width:388px) {
   .front p {
     margin-top: 10px;
     margin-left: -18px;
     font-weight: 100;
     font-style: italic;
     color: #aaaaaa;
     font-size: 12px;
   }
   .text {
     width: 100%;
   }
   .circle1 {
     width: 70px;
     height: 70px;
     border-radius: 50%;
     background-color: transparent;
     border: 4px solid #90d3a6;
     background-image: url(../Images/person1.png);
     background-size: cover;
     background-repeat: no-repeat;
     margin-top: 45px;
   }
   .circle2 {
     width: 70px;
     height: 70px;
     border-radius: 50%;
     background-color: transparent;
     border: 4px solid #90d3a6;
     background-image: url(../Images/person.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     margin-top: 45px;
   }
   .images img {
     width: 125px;
   }
   .img2 {
     margin-left: -88px;
   }
 }

 @media(min-width:388px) {
   .img2 {
     padding-left: 25px;
   }
 }

 @media(min-width:389px) {
   .front p {
     margin-top: 90px;
     font-weight: 100;
     font-style: italic;
     color: #aaaaaa;
     font-size: 13px;
   }
   .circle1 {
     width: 70px;
     height: 70px;
     border-radius: 50%;
     background-color: transparent;
     border: 4px solid #90d3a6;
     background-image: url(../Images/person1.png);
     background-size: cover;
     background-repeat: no-repeat;
     margin-top: 90px;
   }
   .circle2 {
     width: 70px;
     height: 70px;
     border-radius: 50%;
     background-color: transparent;
     border: 4px solid #90d3a6;
     background-image: url(../Images/person.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     margin-top: 90px;
   }
 }

 @media(max-width:360px) {
   .btn2{
     margin-top: 16px;
   }
  
   .designfirst {
     width: 100%;
     position: relative;
     top: -17px;
   }
   .dishes {
    margin-top: 545px;
    padding: 0px;
  }
  .designthrid {
    width: 100%;
    margin-top: -14px;
    position: absolute;
  }
  .lastbackground {
    background-color: #f7f6f2;
    width: 100%;
    height: 135px;
  }
  .designsecond {
    width: 100%;
    margin-top: 17px;
    position: absolute;
  }
  .color {
    margin-left: 7px;
  }
  .img2 {
    margin-left: -80px;
  }

 }

 @media only screen and (min-width: 320px) {
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -395px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -88px;
   }
  
   .overline {
     margin-top: 30px;
   }
   
   .Customdots ul {
     margin-left: -42px;
   }
   .tagline {
     margin-top: 15px;
     display: flex;
     margin-left: 0px;
   }
 }

 @media only screen and (max-width:320px) {
  .btn2{
    margin-top: 0px;
  }
  .color {
    margin-left: 0px;
  }
   .designfirst {
     width: 100%;
     position: relative;
     top: -16px;
   }
   .designsecond {
     width: 100%;
     margin-top: 18px;
     position: absolute;
   }
   .designthrid {
     width: 100%;
     margin-top: -11px;
     position: absolute;
   }
   .lastbackground {
     background-color: #f7f6f2;
     width: 100%;
     height: 140px;
   }
   .dishes {
     margin-top: 545px;
     padding: 0px;
   }
 }

 @media only screen and (max-width: 375px) {
   .btn2{
    margin-top: 0px;
  }
  .img2 {
    margin-left: -78px;
  }
 }
 @media only screen and (min-width: 375px) {
  
   .color {
     margin-left: 10px;
   }
   .dishes {
     margin-top: 545px;
     padding: 0px;
   }
   .owl-theme .owl-nav {
     margin-top: 45px;
   }
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -395px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -88px;
   }
  
   .designfirst {
     width: 100%;
     position: relative;
     top: -17px;
   }
   .designsecond {
     width: 100%;
     margin-top: 16px;
     position: absolute;
   }
   .designthrid {
     width: 100%;
     margin-top: -13px;
     position: absolute;
   }
   .lastbackground {
     background-color: #f7f6f2;
     width: 100%;
     height: 145px;
   }
 }

 @media only screen and (min-width: 389px) {
   .owl-theme .owl-nav {
     margin-top: -12px;
   }
   /* .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -540px;
     border-radius: 10px;
     
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -185px;
   } */
 }

 /* Medium devices (landscape tablets, 768px and up) */

 @media only screen and (max-width: 425px) {
   .triangle-down {
     width: 0;
     height: 0;
     border-left: 115px solid transparent;
     border-right: 115px solid transparent;
     border-top: 115px solid #d30808;
     position: absolute;
     margin-top: 3px;
     z-index: 3;
     transition: all 0s ease-in-out;
   }
   .logo {
     position: absolute;
     margin-top: 3px;
     z-index: 3;
     transition: all 0s ease-in-out;
     left: 82px;
     width: 95px;
   }
 }

 @media only screen and (min-width: 425px) {
   .color {
     margin-left: 20px;
   }
   .dishes {
     margin-top: 570px;
     padding: 0px;
   }
   .owl-theme .owl-nav {
     margin-top: 5px;
   }
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -412px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -98px;
   }
   .img2 {
     margin-left: -103px;
   }
   .overline {
     margin-top: 30px;
   }
   .search {
     margin-top: 30px;
     padding-left: 25px;
     display: flex;
   }
 }

 @media only screen and (min-width: 538px) {
   .owl-theme .owl-nav {
     margin-top: 58px;
   }
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -535px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -170px;
   }
 }

 @media only screen and (min-width: 617px) {
   .owl-theme .owl-nav {
     margin-top: 75px;
   }
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -540px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -180px;
   }
 }

 /* Large devices (laptops/desktops, 992px and up) */

 @media only screen and (min-width: 768px) {
   .color {
     margin-left: 0px;
   }
   .ul2 li a {
     display: block;
     color: #ffffff;
     margin-top: 12px;
     text-decoration: none;
     font-size: 12px;
     margin-right: 35px;
     font-weight: bold;
     font-style: italic;
     /* border: 1px solid white;*/
     padding: 8px 2px;
   }
   .ul2 li a:hover {
     color: #7cc000;
   }
   .owl-theme .owl-nav {
     margin-top: 5px;
   }
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -418px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -100px;
   }
   .img2 {
     margin-left: -47px;
   }
   .overline {
     margin-top: 25px;
   }
   .designfirst {
     width: 100%;
     position: relative;
     top: -28px;
   }
   .designsecond {
     width: 100%;
     margin-top: 10px;
     position: absolute;
   }
   .designthrid {
     width: 100%;
     margin-top: -28px;
     position: absolute;
   }
   .mobileimage {
     width: 200px;
     height: 350px;
   }
   .mobileapp h4 {
     font-size: 24px;
     color: #707070;
     margin: 0px;
     margin-top: 25px;
   }
   .mobileapp h3 {
     font-size: 50px;
     color: #707070;
     margin: 0px;
   }
   .mobileapp p {
     font-size: 20px;
     color: #707070;
     font-weight: 400;
     margin: 0px;
     line-height: 25px;
   }
   .googleplay {
     width: 170px;
     height: 55px;
   }
   .lastbackground {
     background-color: #f7f6f2;
     width: 100%;
     height: 220px;
   }
   .Customdots ul {
     margin-left: 102px;
   }
   .search {
     margin-top: 30px;
     padding-left: 90px;
     display: flex;
   }
   .tagline {
     margin-top: 15px;
     display: flex;
     margin-left: 100px;
   }
 }

 @media only screen and (min-width:800px) {
   .owl-theme .owl-nav {
     margin-top: 40px;
   }
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -540px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -185px;
   }
 }

 @media only screen and (min-width:950px) {
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -545px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -180px;
   }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */

 @media only screen and (min-width:1024px) {
   .dishes {
     margin-top: 630px;
     padding: 0px;
   }
   .owl-theme .owl-nav {
     margin-top: 40px;
   }
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -452px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -115px;
   }
   .overline {
     margin-top: 78px;
   }
   .lastbackground {
     background-color: #f7f6f2;
     width: 100%;
     height: 280px;
   }
   .Customdots ul {
     margin-left: 232px;
   }
   .tagline {
     margin-top: 15px;
     display: flex;
     margin-left: 255px;
   }
   .search {
     margin-top: 30px;
     padding-left: 0px;
     display: flex;
   }
   #ip1 {
     border-radius: 18px;
     border: 1px solid #dfe2e2;
     background: rgb(255, 255, 255);
     padding: 20px;
     width: 220px;
     height: 15px;
     box-shadow: 0px 13px 15px -17px rgb(177, 177, 177);
   }
   #ip1:focus {
     border: 1px solid #7cc000;
     box-shadow: 0 0 10px rgba(177, 177, 177, 0.56);
   }
 }

 @media only screen and (min-width: 1025px) {
   .owl-theme .owl-nav {
     margin-top: 75px;
   }
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -458px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -120px;
   }
 }

 @media only screen and (min-width: 1200px) {
  .img2 {
    margin-left: 0px;
}
   .ul2 li button {
     margin-top: 14px;
     margin-right: 45px;
     padding: 5px 28px;
     font-weight: bold;
     color: rgb(0, 0, 0);
     background-color: #dadad5;
     font-size: 14px;
   }
   .color {
     margin-left: 5px;
   }
   .ul2 li a {
     display: block;
     color: #ffffff;
     margin-top: 12px;
     text-decoration: none;
     font-size: 12px;
     margin-right: 75px;
     font-weight: bold;
     font-style: italic;
     /* border: 1px solid white;*/
     padding: 8px 2px;
   }
   .ul2 li a:hover {
     color: #7cc000;
   }
   .front {
     background-color: rgb(255, 255, 255);
     height: 300px;
     z-index: 2;
     position: relative;
     margin-top: -460px;
     border-radius: 10px;
     /* box-shadow:  0 02px 20px #5f5f5f40;; */
     box-shadow: 17px 14px 19px -8px #5f5f5f40;
   }
   .connectus {
     z-index: 2;
     position: relative;
     text-align: center;
     margin-top: -115px;
   }
   .overline {
     margin-top: 78px;
   }
   .lastbackground {
     background-color: #f7f6f2;
     width: 100%;
     height: 330px;
   }
   .Customdots ul {
     margin-left: 320px;
     margin-top: 60px;
   }
   .tagline {
     margin-top: 15px;
     display: flex;
     margin-left: 0px;
   }
   .search {
     margin-top: 30px;
     padding-left: 25px;
     display: flex;
   }
   #ip1 {
     border-radius: 18px;
     border: 1px solid #dfe2e2;
     background: rgb(255, 255, 255);
     padding: 20px;
     width: 318px;
     height: 15px;
     box-shadow: 0px 16px 32px -14px rgba(177, 177, 177, 0.56);
   }
   #ip1:focus {
     border: 1px solid #7cc000;
     box-shadow: 0 0 10px rgba(177, 177, 177, 0.56);
   }
   .designsecond {
     width: 100%;
     margin-top: 5px;
     position: absolute;
   }
 }

 @media only screen and (max-width: 617px) {
   .aboutus h4 {
     margin-top: 55px;
     font-weight: bold;
     color: #525252;
     font-size: 17px;
   }
 }

 @media only screen and (max-width:1024px) {
   .ul2 li button {
     margin-top: 14px;
     margin-right: 20px;
     padding: 5px 28px;
     font-weight: bold;
     color: rgb(0, 0, 0);
     background-color: #dadad5;
     font-size: 14px;
   }
 }

 @media only screen and (min-width:1024px) {
   .color {
     margin-left: 4px;
   }
  
 }

 .images {
   padding: 0px;
 }

 .color {
   color: #e7a331;
   font-size: 13px;
   margin-top: 3px
 }

 .color:hover {
   color: #d30808;
   transition: .4s ease all;
 }

 .header-p {
   font-weight: 600;
   font-size: 12px;
   color: #777575;
 }

 html {
   scroll-behavior: smooth;
 }

 .nav {
   width: 100%;
   height: 60px;
   background: #54562a;
   margin-top: 2px;
   position: relative;
   z-index: 2;
 }

 .fixed-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 3;
   margin-top: 0px;
   transition: all 0.5s ease-in-out;
 }

 .link {
   position: relative;
 }

 .link:after {
   content: '';
   position: absolute;
   width: 0;
   height: 1px;
   display: block;
   margin-top: 0px;
   right: 0;
   border-bottom: 1px solid #ffffff;
   transition: width 0.4s ease;
   -webkit-transition: width 0.4s ease;
 }

 .link:hover:after {
   width: 100%;
   left: 0;
   border-bottom: 1px solid #7cc000;
 }

 .nav ul {
   list-style-type: none;
 }

 .navbar-header .navbar-toggle .icon-bar {
   background-color: #fff;
 }

 .navbar-toggle {
   background-color: #d30808;
   margin-top: 10px;
   margin-right: 3px;
 }

 .background {
   background-image: url(../Images/topbackground.png);
   background-size: cover;
   background-repeat: no-repeat;
   height: 765px;
   z-index: -1;
   position: relative;
 }

 .background-text {
   padding-top: 145px;
   line-height: 40px;
 }

 .background .nav_bar {
   position: inherit;
   padding-left: 0px;
   padding-right: 0px;
   z-index: 2;
 }

 #navigatinbar {
   width: 100%;
   overflow: hidden;
 }

 .dot {
   height: 25px;
   width: 25px;
   /* background-color: #bbb; */
   background-color: white;
   border: 1px solid #bbb;
   margin-top: 5px;
   border-radius: 50%;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
 }

 .dot:hover {
   border: 1px solid #d30808;
   background-color: #d30808;
   cursor: pointer;
   transition: 0.4s ease all;
   color: #FFF;
 }

 .dot:hover a i {
   transition: 0.4s ease all;
   color: #fff;
 }

 .dot a i {
   color: #bbb;
   padding-left: 7px;
   font-size: 13px;
 }

 .line {
   display: block;
   width: 40px;
   height: 1px;
   background: #e9edee;
   margin-top: 18px;
 }

 #Why_choose {
   width: 100%;
   height: fit-content;
   background-color: #ffffff;
 }

 .whychoose {
   margin-top: 80px;
   margin-bottom: 60px;
   text-align: center;
 }

 .rectangle {
   background: #f7f6f2;
   width: 200px;
   height: 225px;
   border-radius: 10px;
 }

 .reason {
   margin-bottom: 20px;
 }

 .reason h4 {
   text-align: center;
   font-weight: 400;
   font-size: 15px;
 }

 .reason p {
   text-align: center;
   color: #7fbb00;
   font-size: 11px;
   font-weight: 600;
 }

 .Customdots ul li {
   width: 50px;
   background-color: #e0e0de;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   height: 6px;
   margin: -2px;
 }

 .Customdots ul li.active {
   background-color: #92d2a7;
 }

 .Customdots ul li:hover:not(.active) {
   background: #7cc000;
   transition: .4s ease all;
 }

 .owl-carousel .owl-item .design {
   margin-left: 0px;
   width: 200px;
   position: absolute;
   top: 185px;
 }

 .owl-carousel .owl-item .image {
   margin-left: 25px;
   height: 150px;
   width: 150px;
   margin-top: 50px;
   position: absolute;
 }

 .owl-carousel .owl-item {
   width: inherit;
 }

 .owl-theme .owl-dots .owl-dot span {
   width: 22px;
   height: 22px;
   border-radius: 15px;
   background: #ffffff;
 }

 .owl-dots {
   counter-reset: dots;
 }

 .owl-dot:before {
   counter-increment: dots;
   content: counter(dots);
   position: absolute;
   color: rgb(182, 182, 182);
   margin-top: 8px;
   margin-left: -3px;
   font-size: 12px;
   font-weight: 700;
 }

 .owl-dot.active::before {
   color: white;
 }

 .owl-theme .owl-dots .owl-dot.active span {
   background: #92d2a7;
 }

 .owl-theme .owl-dots .owl-dot:hover:not(.active) span {
   background: rgb(231, 231, 231);
   transition: .4s ease all;
 }

 .owl-theme .owl-nav.disabled+.owl-dots {
   margin-top: 35px;
 }

 .owl-theme .owl-dots .owl-dot {
   margin-right: 0px;
 }

 #about_us {
   background-color: #f7f6f2;
   padding-bottom: 30px;
 }

 .aboutus {
   width: 100%;
   overflow: hidden;
 }

 .btn1 {
   background-color: white;
   border: 1px solid #ebeae7;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   width: 25px;
   margin: -15px;
 }

 .btn1:hover {
   transition: 0.5s ease all;
   background: #d30808;
 }

 .btn1:hover i {
   color: #ffffff;
   transition: 0.5s ease all;
 }

 .btn2 {
   background-color: white;
   border: 1px solid #ebeae7;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   width: 25px;
 }

 .btn2:hover {
   background: #d30808;
   transition: 0.5s ease all;
 }

 .btn2:hover i {
   color: #ffffff;
   transition: 0.5s ease all;
 }

 .owl-theme .owl-nav .owl-next:hover {
   background-color: transparent;
 }

 .navleft {
   color: #c9c4c4;
   font-size: 9px;
   top: 0px;
 }

 .navright {
   color: #c9c4c4;
   font-size: 9px;
   top: 0px;
 }

 .longline {
   height: 1px;
   background-color: #ebeae7;
   width: 100%;
   position: absolute;
   margin-top: -16px;
   margin-left: -15px;
 }

 .back {
   width: 100%;
   z-index: 1;
   position: relative;
 }

 .front span {
   color: 333333;
   font-weight: 600;
   font-size: 10px;
 }

 .icon1 {
   background-color: #0072bc;
   color: white;
   padding: 2px;
   font-size: 10px;
 }

 .icon1:hover {
   background-color: #ffffff;
   color: red;
   transition: 0.4s ease all;
 }

 .icon2 {
   background-color: #00aeef;
   color: white;
   padding: 2px;
   font-size: 10px;
 }

 .icon2:hover {
   background-color: #ffffff;
   color: red;
   transition: 0.4s ease all;
 }

 .icon3 {
   font-size: 18px;
 }

 .icon3:hover {
   background-color: #ffffff;
   color: red;
   transition: 0.4s ease all;
 }

 .connectus h3 {
   font-weight: 400;
   font-size: 16px;
   color: #525252;
   margin-bottom: 20px;
 }

 .full {
   padding: 0px;
 }

 .full img {
   height: 225px;
   width: 225px;
 }

 #Mobile_App {
   margin-top: 65px;
 }

 .mobileapp {
   margin-bottom: 75px;
 }

 .lastbackground img {
   width: 100%;
   padding-top: 40px;
 }

 .footer {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .footer h5 {
   font-size: 10px;
   font-weight: 100;
   color: #999999;
 }

 .footer h4 {
   font-size: 10px;
   font-weight: 100;
   color: #999999;
 }

 .footer span {
   font-size: 10px;
   font-weight: 600;
   color: #545454;
 }

 .fixed-logo {
   position: fixed;
   z-index: 4;
   border-left: 115px solid transparent;
   border-right: 115px solid transparent;
   border-top: 115px solid #d30808;
   transition: all 0.5s ease-in-out;
 }

 .fix-logo {
   position: fixed;
   left: 82px;
   z-index: 4;
   margin-top: 0px;
   width: 95px;
   transition: all 0.5s ease-in-out;
 }

 .fixed-logo1 {
   position: fixed;
   z-index: 4;
   margin-top: -20px;
   border-left: 100px solid transparent;
   border-right: 100px solid transparent;
   border-top: 100px solid #d30808;
   transition: all 0s ease-in-out;
 }

 .fix-logo1 {
   position: fixed;
   left: 74px;
   z-index: 4;
   margin-top: 0px;
   width: 82px;
   transition: all 0s ease-in-out;
 }

 .arrowup {
   font-size: 18px;
   position: absolute;
   display: inline-block;
   left: 49%;
   top: 93%;
   color: #dbdbdb;
 }

 .arrowup:hover {
   color: #7fbb00;
   transition: .4s ease all;
 }

 .btn:hover {
   background: #7fbb00;
   color: white;
   border: 1px solid transparent;
   transition: 0.4s ease all;
 }

 .btn:focus {
   outline: none;
 }
 .overline {
 margin-left: 0px;
left: 20%;
width: 59%;
height: 1px;
background: #c6f078;
position: absolute;
z-index: 2;

 }
